<section class="what_infra">
    <h4>ーインフラとはー</h4>
      <p>
        辞書的な意味では、生活や産業の基盤となる設備・施設の意味。
        水道、電気、ガス、道路など、、、
        ITシステムの土台部分。
      </p>

    <div class="row">
      <div class="col s12 m4 l2">
        <%= image_tag 'contents/infra_image.png', :size => "400x300" %>
      </div>
    </div>

  <h4>ーインフラの領域ー</h4>
    <p>
      インフラの領域は幅広い。ほんの一部を書き出してみた。

      ・ハードウェア
      → サーバ、ストレージ、ネットワーク（L３スイッチ、ルーター、ロードバランサ）

      ・ソフトウェア
      →OS
        Windows、MacOS、UNIX、Linux
      →ミドルウェア
        Webサーバ製品、APサーバ製品、DBサーバ製品、システム運用製品
    </p>

  <h4>ーシステム構成ー</h4>
    <p>
    【クライアント・サーバシステム】
      →システム利用者が使うコンピュータであるクライアントと、
       サービスを提供するコンピュータであるサーバに分けて、相互にネットワークで接続する形をいう

    【Web３層構造】
      →Webシステムの典型的な構成。以下の3つの役割のサーバからなる

      ①Webサーバ
      →主に静的コンテンツを提供する役割のサーバ。
       HTMLファイルや画像などのコンテンツを配置して、
       APサーバから提供された動的コンテンツとともに表示を行う。

      ②AP（アプリケーション）サーバ
      →主に動的コンテンツや業務処理を提供するサーバ。
       このサーバ上にアプリケーションを実装することが多い。

      ③DB（データベース）サーバ
      →データを提供するサーバ。主にAPサーバからのデータ要求に従ってデータを返す。
       性能を求められるケースが多いためサーバ自体も性能の高いものにしたり、
       扱うデータ量が多いためストレージを接続したりすることが一般的。
    </p>

  <div class="row">
    <div class="col s12 m4 l2">
      <%= image_tag 'contents/client_server.png', :size => "700x400" %>
    </div>
  </div>

</section>

<section class="server">
  <h4>ーサーバについてー</h4>

  coming soon!!

</section>

<section class="network">
  <h4>ーネットワークについてー</h4>

  coming soon!!

</section>

<section class="os">
  <h4>ーOSについてー</h4>

  coming soon!!

</section>

<section class="storage">
  <h4>ーストレージについてー</h4>

  coming soon!!

</section>

<section class="virtualization">
  <h4>ー仮想化についてー</h4>

  coming soon!!

</section>

<section class="cloud">
  <h4>ークラウドについてー</h4>

  coming soon!!

</section>


<section class="linux">
  <h4>ーLinuxについてー</h4>

  coming soon!!

</section>

<section class="env_const">
  <h4>ー環境構築ー</h4>

  coming soon!!
  <p>
  virtualboxインストール

  CentOSインストール

  TeraTermインストール
  </p>
</section>

<section class="command">
  <h4>ーコマンドー</h4>

  coming soon!!

</section>


<section class="ses_etc">
  <h4>ーSESと客先常駐の関係ー</h4>
  <p>
  【作成中】
  よく耳にする単語だったが、違いをよく知らなかったので調べてみた。
  他にも似たような単語がいくつか出てきたのでメモ。

  ・SIer（エスアイアー）→会社を指す
  ・SE（エスイー）→人を指す
  ・SES（エスイーエス）
    →システムエンジニアリングサービス契約。民法的には、準委任契約という言葉を使う。
    技術者の労働を提供する契約。何も納品しなくても報酬は払う。
    客先のオフィスにエンジニアを派遣して（常駐）、技術的なサービスを提供する。
    でも、派遣とは違うため、労働基準法や労働派遣法は適用されない。

  派遣

  請負契約
  →成果物に対して報酬を払う。

  </p>
</section>

<section class="experience">
  <h4>ー現場はこんなでした！ー</h4>
  <h4>私がいた常駐先でのルール。</h4>
  <h5>（※現場によってだいぶ違うようです）</h5>
  <p>
  【とある通信会社のとある現場】

  ・クリアデスククリアスクリーンの徹底

  ・離席時は画面ロック、セキュリティ情報が記載された紙媒体は引き出しにしまう

  ・上記を守っていないと、チェック当番の人が回ってきて、守っていないと注意される

  ・入館証の紛失はセキュリティ事故扱いになるので、置いて帰る

  ・毎朝決まった時間に配布される（15分程）

  ・電車事故、自社用など配布時間に間に合わなかった時は持ってきてもらわないといけないので、申し訳ない気持ちになる…
  </p>
</section>




