<section class="what_infra">
    <h5>【インフラとは】</h5>
      <p>
        辞書的な意味では、生活や産業の基盤となる設備・施設の意味。
        水道、電気、ガス、道路など、、、
        ITシステムの土台部分。
      </p>

    <div class="row">
      <div class="col s12 m4 l2">
        <%= image_tag 'contents/infra_image.png', :size => "400x300" %>
      </div>
    </div>

  <h5>【インフラの領域】</h5>
    <p>
      インフラの領域は幅広い。ほんの一部を書き出してみた。

      ・ハードウェア
      → サーバ、ストレージ、ネットワーク（L３スイッチ、ルーター、ロードバランサ）

      ・ソフトウェア
      →OS
        Windows、MacOS、UNIX、Linux
      →ミドルウェア
        Webサーバ製品、APサーバ製品、DBサーバ製品、システム運用製品
    </p>

  <h5>【システム構成】</h5>
    <p>
    ◇クライアント・サーバシステム
      →システム利用者が使うコンピュータであるクライアントと、
       サービスを提供するコンピュータであるサーバに分けて、相互にネットワークで接続する形をいう

    ◇Web３層構造
      →Webシステムの典型的な構成。以下の3つの役割のサーバからなる

      ①Webサーバ
      →主に静的コンテンツを提供する役割のサーバ。
       HTMLファイルや画像などのコンテンツを配置して、
       APサーバから提供された動的コンテンツとともに表示を行う。

      ②AP（アプリケーション）サーバ
      →主に動的コンテンツや業務処理を提供するサーバ。
       このサーバ上にアプリケーションを実装することが多い。

      ③DB（データベース）サーバ
      →データを提供するサーバ。主にAPサーバからのデータ要求に従ってデータを返す。
       性能を求められるケースが多いためサーバ自体も性能の高いものにしたり、
       扱うデータ量が多いためストレージを接続したりすることが一般的。
    </p>

  <div class="row">
    <div class="col s12 m4 l2">
      <%= image_tag 'contents/client_server.png', :size => "700x400" %>
    </div>
  </div>

</section>




<section class="server">
  <h5>ーサーバについてー</h5>

  coming soon!!

</section>




<section class="network">
  <h5>ーネットワークについてー</h5>

  coming soon!!

</section>




<section class="os">
  <h5>ーOSについてー</h5>

  coming soon!!

</section>



<section class="storage">
  <h5>ーストレージについてー</h5>

  coming soon!!

</section>



<section class="virtualization">
  <h5>ー仮想化についてー</h5>

  coming soon!!

</section>



<section class="cloud">
  <h5>ークラウドについてー</h5>

  coming soon!!

</section>


<section class="linux">
  <h5>【Linuxとは】</h5>
    <p>
      OSの一種。オープンソースなのが特徴。
      狭義のLinuxは、コンピュータのハードウェアの管理やプログラムの実行制御などを行う中核部分のカーネル(kernel)を指す。
      しかし、カーネルだけでは利用者がコンピュータに導入して操作可能な状態にはできないため、OSとして機能するよう必要なプログラム群をまとめた配布パッケージが作成されていて、これをLinuxディストリビューションという。
      ディストリビューションには、RedHat系、Debian系、Slackware系などの種類がある。

  <h5>【】</h5>
      Linuxの操作には、CUIが使われることが多い。

      ユーザ

      ディレクトリ


    </p>

</section>

<section class="env_const">
  <h5>ー環境構築ー</h5>

  coming soon!!
  <p>
  virtualboxインストール

  CentOSインストール

  TeraTermインストール
  </p>
</section>

<section class="what_aws">
  <h5>【AWSとは】</h5>
    <p>
      Amazon Web Sercicesの略。
      Amazonが提供するクラウド型Webサービスの総称。

      世界のクラウド市場ではAmazonの他、Microsoft(Azure)、Google(CloudPlatform),IBM(Bluemix)の主要４社がシェアの過半数を占めている。
      その中で、AWSは世界クラウド市場の3割のシェアを占めていると言われている。
    </p>

  <h5>【AWSの特徴】</h5>
    <p>
      メリット
      ・必要なサービスのみを選べる
      ・従量課金制
      ・セキュリティが高い
      ・パフォーマンスが高い

      デメリット
      ・予算化が難しい
      ・サービスが多いため選んだり、内容を把握するのが大変
      ・AWS特有の考え方がある
    </p>

  <h5>【AWSのサービス】</h5>
    <p>
      大きく分けて90以上、細分化すると700以上のサービスが提供されている。

      代表的なサービス
      ◇EC2（Elastic Compute Cloud）
      →仮想レンタルサーバ。料金は利用する容量とアクセス量に応じて変化する。

      ◇S3（Simple Storage Service）
      →Amazonのサーバを利用したストレージサービス。

      ◇Lambda(ラムダと読む)
      →サーバーをプロビジョニングしたり管理する必要なくコードを実行できるコンピューティングサービス。サーバレスで、イベントが起きたら、あらかじめ設定した処理が実行される。料金は処理が動いた時間だけ課金される。


      ◇RDS(Relational Database Service)
      →Amazonクラウド上で使えるデータベース。

      ◇CLI(Command Line Interface)
      →コマンドベースでAWSを操作できるサービス。

    </p>
</section>

<section class="aws_word">
  <h5>【AWS関連用語】</h5>
    <p>
      ◇リージョン
      →AWSの物理的なサーバの場所を指定するもの。
      リージョン間でEC2の設定は独立している。

      ◇EC2インスタンス
      →クラウド上に存在する仮想サーバのこと。
      EC2インスタンスを作成すると、ec2-userというユーザを対応するSSHキーが生成される。

      ◇AMI(Amazon Machine Image)
      →EC2で使われるディスクイメージ。

      ◇Elastic IP
      →AWSから割り振られた固定のパブリックIPアドレスのこと。
      EC2インスタンスに紐づけることでインスタンスの起動、停止に関わらず常に同じIPアドレスで通信をすることが可能になる。

      ◇ELB(Elastic Load Balancing)
      →ロードバランサ。負荷分散装置。
    </p>
</section>


<section class="ses_etc">
  <h5>ーSESと客先常駐の関係ー</h5>
  <p>
  よく耳にする単語だったが、違いをよく知らなかったので調べてみた。
  他にも似たような単語がいくつか出てきたのでメモ。

  ・SIer（エスアイアー）→会社を指す
  ・SE（エスイー）→人を指す
  ・SES（エスイーエス）
    →システムエンジニアリングサービス契約。民法的には、準委任契約という言葉を使う。
    技術者の労働を提供する契約。何も納品しなくても報酬は払う。
    客先のオフィスにエンジニアを派遣して（常駐）、技術的なサービスを提供する。
    でも、派遣とは違うため、労働基準法や労働派遣法は適用されない。

  </p>
</section>



