<header>
  <nav>
    <div class="nav-wrapper light-blue">
      <a href="#" class="brand-logo">ゆるっとインフラの勉強をしたい</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'マイページ', "/users/#{current_user.id}/memos", class: "waves-effect waves-light btn-large red accent-4" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete , class: "waves-effect waves-light btn-large red accent-4"%></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "waves-effect waves-light btn-large red accent-4" %></li>
          <li><%= link_to '新規登録',new_user_registration_path, class: "waves-effect waves-light btn-large red accent-4" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
