<h4>私がいた常駐先でのルール。</h4>
<h5>（※現場によってだいぶ違うようです）</h5>

<p>
【とある通信会社のとある現場】

・クリアデスククリアスクリーンの徹底

・離席時は画面ロック、セキュリティ情報が記載された紙媒体は引き出しにしまう

・上記を守っていないと、チェック当番の人が回ってきて、守っていないと注意される

・入館証の紛失はセキュリティ事故扱いになるので、置いて帰る

・毎朝決まった時間に配布される（15分程）

・電車事故、自社用など配布時間に間に合わなかった時は持ってきてもらわないといけないので、申し訳ない気持ちになる…
</p>
