<h4>ーSESと客先常駐の関係ー</h4>

<p>
よく耳にする単語だったが、違いをよく知らなかったので調べてみた。
他にも似たような単語がいくつか出てきたのでメモ。

・SIer（エスアイアー）→会社を指す
・SE（エスイー）→人を指す
・SES（エスイーエス）
→システムエンジニアリングサービス契約。民法的には、準委任契約という言葉を使う。
技術者の労働を提供する契約。何も納品しなくても報酬は払う。
客先のオフィスにエンジニアを派遣して（常駐）、技術的なサービスを提供する。
でも、派遣とは違うため、労働基準法や労働派遣法は適用されない。

派遣

請負契約
→成果物に対して報酬を払う。


サイトによって言っていることが違う。
よくわからん。。。

☆☆☆☆☆作成中☆☆☆☆☆

</p>
