.main {
  height: 100vh;
  overflow: scroll;
}

.what_infra {
  display: none;
}

.server {
  display: none;
}

.network {
  display: none;
}

.os {
  display: none;
}

.storage {
  display: none;
}

.virtualization {
  display: none;
}

.cloud {
  display: none;
}

.linux {
  display: none;
}

.env_const {
  display: none;
}

.what_aws {
  display: none;
}

.aws_word {
  display: none;
}

.ses_etc {
  display: none;
}
