<!-- <nav>
  <div class="nav-wrapper light-blue">
    <a href="#" class="brand-logo">ここは編集ページです(^^)</a>
  </div>
</nav>
 -->
<%= render 'form' %>

<%= link_to '戻る', user_memos_path(@memo.user), class: "waves-effect waves-light btn light-blue" %>
