<div class="side-bar col s3 yellow lighten-3">
  <ul class="collection menu">
    <li>
      <p class="collection-item catergory button">インフラ</p>
      <ul class="inner">
        <li class="collection-item subcatergory what_infra_link">インフラとは</li>
        <li class="collection-item subcatergory server_link">サーバ</li>
        <li class="collection-item subcatergory network_link">ネットワーク</li>
        <li class="collection-item subcatergory os_link">OS</li>
        <li class="collection-item subcatergory storage_link">ストレージ</li>
        <li class="collection-item subcatergory virtualization_link">仮想化</li>
        <li class="collection-item subcatergory cloud_link">クラウド</li>
      </ul>
    </li>
    <li>
      <p class="collection-item catergory">Linux</p>
      <ul class="inner">
        <li class="collection-item subcatergory linux_link">Linuxについて</li>
        <li class="collection-item subcatergory env_const_link">環境構築</li>
        <li class="collection-item subcatergory command_link">コマンド</li>
      </ul>
    </li>
    <li>
      <p class="collection-item catergory">その他</p>
      <ul class="inner">
        <li class="collection-item subcatergory ses_etc_link">SESと客先常駐の関係</li>
        <li class="collection-item subcatergory experience_link">現場はこんなでした！</li>
      </ul>
    </li>
  </ul>
</div>
